@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

  

body {
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    padding: 0;
}
/* css for loader */
#loading{
    
    position: fixed;
    width:100%;
    height:100vh;
    background:rgba(189, 69, 69, 0.491) url('../img/spinner.gif') center;
    z-index:99999;
    background-repeat: no-repeat;
}
/* Banner css logo */
div.brand {
    /* height: 100px; */
    width: 100vw;

    display: inline;

}

@media only screen and (max-width: 768px) {
    div.brand a img {
       
        height: 50px;
        width: 100%;
        margin: 5px auto;
    }
}
@media only screen and (max-width: 512px) {
    div.brand a img {
      
        height: 30px;
        width: 100%;
        margin: 5px auto;
    }
}

/* Banner css logo end */
/* About Section Css Start */

div.about-top {
    width: 98%;
    height: 20vh;
    background: white;
    margin-top: 10vh;
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 255, 0.553);
    border-radius: 10px 10px;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    transition: all 0.9s linear 4ms;
    box-shadow: 5px 5px 20px 3px rgba(154, 45, 45, 0.427);
}

div.about-top .about-in {
    height: 18vh;
    width: 25vw;
    background-color: rgb(186, 68, 232);
    border: 1px solid black;
    margin: auto;
    display: flex;

    color: white;
    transition: all 0.8s linear 4ms;
    cursor: pointer;
    z-index: 0;
    translate: 0 -30px;

}

div.about-top .about-in:hover {

    background-color: red;

}

div.about-top .about-in img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 8px;

}

div.about-top .about-in span {
    font-size: 20px;
    padding: 30px 0px 10px 5px;
}

div.about-top .about-in span p {
    font-size: 14px;
    padding: 8px 12px 5px 12px;
    margin: auto;
    text-align: center;
}

@media only screen and(max-width:912px) {
    div.about-top .about-in:hover {
        transform: rotateX(180deg);
        background-color: rgba(249, 214, 16, 0.856);

    }
}

@media only screen and (max-width: 768px) {

    div.about-top {
        width: 100%;
        height: 35vh;
        background: linear-gradient(45deg, rgb(222, 219, 219), rgb(162, 143, 143));
        margin-top: 1.5em;
        margin-bottom: 2em;
        display: block !important;

        margin-left: 0px !important;
        margin-right: 0px !important;
        border: none;

    }

    div.about-top .about-in {
        height: 11vh;
        width: 100vw;
        background-color: rgb(19, 4, 32);
        border: 1px solid rgb(212, 58, 58);
        margin: auto;
        /* display: flex; */

        color: white;
        translate: 0 !important;
    }

    div.about-top .about-in:hover {
        translate: 0px 0px !important;
        transform: rotatex(0deg);

        background-color: rgb(99, 106, 142) !important;

    }

    div.about-top .about-in img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin: 8px;



    }
}

/* start about-bot css */
div.about-bot {
    height: 400px;
    width: 98%;
    background-color: #FFFFFf;

    margin: 20px;
    z-index: 999;
    box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
    display: flex;
    flex-direction: row;

}

div.about-bot div.about-us {
    height: 380px;
    width: 46%;
    border: 1px solid black;
    margin: 10px 20px 10px 20px;
    float: left;
    display: flex;
    /*  */
}

.about-mid {
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    div.about-bot {
        height: 700px;
        width: 96%;
        background-color: #e7d5d5;

        margin: 20px;
        z-index: 999;
        box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
        display: flex;
        flex-direction: column;

    }

    div.about-bot div.about-us {
        height: 346px;
        width: 94%;
        border: 1px solid black;
        margin: 5px 13px 5px 16px;
        float: left;
        display: block;
        overflow-x: hidden;
    }

    div.about-bot div.about-us .about-mid {
        overflow-y: auto;
    }
}


/* end about-bot css */
/* Start about-us and #notice css */
div.about-us div.tab {
    height: 100%;
    margin: 0 auto;
    overflow-x: none !important;
}

div.about-us div.tab button.tabpane {
    background-color: #081553;
    color: white;
    float: left;
    border: 1px solid white;
    outline: invert;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
    width: 19em;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    transition: all 0.4s ease-in-out 4ms;
    overflow-x: hidden;
}

div.about-us div.tab button.tabpane:hover {
    background-color: #eadede;
    color: black;
}

/* div.about-us div.tab button.tabpane:active {
    background-color: yellowgreen;
}*/

.active {
    background-color: goldenrod;
}

div.about-us div.tab div.tabcontent {
    color: rgb(225, 49, 49);
    display: none;
    padding: 80px 20px 50px 20px;
    /* height:650px; */
    
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-family: 'Mukta', sans-serif;
}





table.notice-table {
    width: 100%;

}
.notice-table tr:nth-child(2n+1){
    background-color: rgb(58, 249, 240);
    transition: all 0.4s ease-in-out 4ms;
    color:black;
}
.notice-table tr:nth-child(2n){
    background-color: rgba(243, 58, 249, 0.683);
    transition: all 0.4s ease-in-out 4ms;
    color:black;
}
.notice-table tr:hover{
    color:rgb(92, 170, 248);
    background-color:rgba(255, 238, 0, 0.363)
    
}
.notice-table tr td{
    padding:4px 5px;
}
.notice-table tr td span a{
    text-decoration: none;
    color:rgb(197, 70, 11);
    transition: all 0.4s ease-in-out 4ms;
    /* border:2px solid rgba(255, 34, 0, 0.808); */
    padding:0px 5px ;
}
.notice-table tr td span a:hover{
    text-decoration: none;
    color:rgb(238, 245, 248);
    /* border:2px solid rgb(0, 170, 255); */
    background-color:rgb(0, 170, 255); 
}


@media only screen and (max-width: 768px) {
    div.about-us div.tab {
        height: 100%;
        margin: 0;
    }

    div.about-us div.tab button.tabpane {
        background-color: #c965f4;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 15px;
        width: 10em;

    }

}


/* End about-us and #notice css */


/* start about-institue and about mid css */
div#about-institute div.about-mid h3 {
    color: red;
    text-align: center;
}

div#about-institute div.about-mid p {
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Amita', cursive;
    word-spacing: 3px;
    
    background-size: contain;
    text-align: justify;
    padding: 0px 10px 0px 10px;

}

div#about-institute div.about-mid p button {
    background: transparent;
    outline: 2px;
    padding: 5px;
    outline-color: blue;
    border: none;
}

div#about-institute div.about-mid p button a {
    text-decoration: none;
    font-size: 16px;
    color: red
}

/* end about-institue and about mid css */


/* hero css start */
div.hero {
    height: 50vh;
    width: 98%;
    background-color: rgb(255, 255, 255);
    margin: 40px 20px 20px 20px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
}

/* hero css end */

/* Start Footer css */
div.footer-top {

    width: 100vw;
    background: linear-gradient(45deg, rgba(40, 27, 128, 0.744), rgba(7, 3, 88, 0.826));
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding-top: 1px;


    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
}

div.footer-top div.footer-in {
    color: rgb(253, 253, 253);
    padding: 0px 50px 0px 50px;
    text-decoration: none;
}

div.footer-top div.footer-in p {
    font-size: 16px;
    text-decoration: none;
}


div.footer-top div.footer-in ul {
    list-style: none;
}

div.footer-top div.footer-in ul li {
    padding: 5px 0px;
    /* margin-left:-7px;
     */
}

div.footer-top div.footer-in ul li a {
    text-decoration: none;
    font-size: 16px;
    transition: all .4s ease-in-out 4ms;
    color: white;
}

div.footer-top div.footer-in ul li a:hover {
    padding: 0px 5px 0px 5px;
    color: red;
    margin-left: 7px;
    border: 2px solid white;
}

div.footer-top div.footer-in p.login a {
    border: 2px solid white;
    background-color: transparent;
    padding: 5px 8px;
    text-decoration: none;

    color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out 4ms;


}

div.footer-top div.footer-in p.login a:hover {
    color: rgb(64, 3, 93);
    background-color: white;

}

div.footer-in div.social-media {
    margin: 0px;
    padding: 10px 0px 6px 0px;

}

div.footer-in div.social-media a {

    padding: 10px 10px 6px 10px;
    font-size: 16px;
    transition: all 0.4s ease-in-out 4ms;
    text-decoration: none;
    border-radius: 50%;
}

div.footer-in div.social-media a:hover {
    font-size: 16px;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    color: red;
    box-shadow: 1px 1px 30px 1px white;
}

@media only screen and (max-width:768px) {
    div.footer-in div.social-media {
        margin: auto;
        padding: 10px 0px 6px 0px;

    }
}

@media only screen and (max-width:768px) {
    div.footer-top {
        height: auto;

        width: 100vw;
        background: linear-gradient(45deg, rgba(64, 6, 159, 0.76), rgba(7, 3, 88, 0.838));
        margin-top: 50px;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start; */
        /* padding-top: 1px; */
        display: block;

        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
    }

    div.footer-top div.footer-in {
        color: rgb(245, 245, 245);
        padding: 20px 30px 0px 30px;
    }

    div.footer-top div.footer-in ul li {
        padding: 1px;
    }
}

/* Style for footer mid */


/* style the news-letter box */
.news-letter input[type="email"] {
    width: 80%;
    height: 2em;
    outline: none;
    border: 0px;
    border-radius: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.news-letter input[type="email"]:hover {

    background: linear-gradient(0deg, rgb(146, 154, 243), whitesmoke);
}

.news-letter input[type="email"]::placeholder {

    color: midnightblue;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.2em !important;
}

.news-letter input[type="submit"] {

    background-color: transparent;
    width: 40%;
    height: 2em;

    border: 2px solid white;
    border-radius: 0px;

    font-size: 1.2em;
    font-family: 'Crete Round', serif;
    font-family: 'Sofia Sans', sans-serif;
    padding-left: 0.5em;
    padding-right: 0.em;
    color: rgb(253, 253, 253);
    cursor: pointer;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    transition: .4s ease-in-out 4ms;

}

.news-letter input[type="submit"]:hover {
    background-color: white;
    color: midnightblue;
    font-weight: 700;
}

.footer-bot {
    height: 9vh;
    width: 100vw;
    color: white;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(45deg, rgba(24, 22, 23, 0.76), rgba(2, 2, 88, 0.838));
    padding-top: 5px;
    margin-top: 0px;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
}

@media only screen and (max-width: 768px) {
    .footer-bot {
        height: 50px;
        width: 100vw;
        color: white;
        font-size: 10px;
        text-align: center;
        background: linear-gradient(45deg, rgba(24, 22, 23, 0.76), rgba(2, 2, 88, 0.838));
        padding-top: 7px;
        margin-top: 0px;
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;

    }

}

/* scroll to top button */
#myBtn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: all .4s ease-in-out 4ms;
}

#myBtn {
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    opacity: 0.5;
    display: none;
    cursor: pointer;
}


/* back to top */
#go-top {
    display:none;
    font-size: 25px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: 2px solid #010f02;
    
    width: 35px;
    height: 35px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color:white;
    background-color: #2194f9;
    transition: all 0.4s ease-in-out 4ms;
  }
  #go-top:hover{
    background-color: rgba(160, 182, 198, 0.804);
    
    border-radius: 30%;
    color:black;
  }

/* css start for Login Modal */
div.modal {
    border-radius: 0px;
    color: black;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;

}

div.modal a {
    border-radius: 0px;
    color: rgb(234, 9, 9);
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    text-decoration: none;

    margin: 0px;
    padding: 5px;
    transition: 0.4s ease-in 4ms;

}

div.modal a:hover {
    background-color: red;
    color: white;

}

.form-group {
    margin: 10px;
    padding: 10px;
    /* border: 1px double darkolivegreen; */
}

.modal fieldset legend {
    font-size: 26px;
    font-weight: bold;

}

div.modal .form-control {
    padding: 5px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;


}

div.modal .form-control input[type="email"] {
    width: 60%;
    height: 2em;
    outline: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid rgb(128, 92, 227);
    border-radius: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.9em;
    align-items: center;
}

div.modal .form-control input[type="password"] {
    width: 60%;
    height: 2em;
    outline: 0px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid rgb(128, 92, 227);

    border-radius: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1.4em;
    align-items: center;
}

div.modal .form-control input::placeholder {
    color: mediumslateblue;
}

div.modal .form-control input[type="submit"] {
    width: 25%;

    height: 2.4em;
    outline: invert;
    padding: 1px;
    border: 2px solid mediumslateblue;
    border-radius: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0em;
    align-items: center;
    /* background:mediumslateblue; */
    cursor: pointer;
    font-size: 1.0em;
    transition: all 0.4s linear 4ms;
}

div.modal .form-control input[type="submit"]:hover {

    border: 2px solid mediumslateblue;
    color: white;
    align-items: center;
    background: mediumslateblue;
    cursor: pointer;

}

@media only screen and (max-width: 768px) {
    div.modal {
        border-radius: 0px;
        color: rgb(130, 28, 28);
        box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
    }
}

/*  css end for For login modal */

/* css for introduction page */
.container {
    width: 100%;
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
}

 aside {
    height:auto;
    width: 20%;
    background-size: contain;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin: 10px;
    /* box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427); */
    background-color: transparent;
    float:left;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
}

.container aside a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    width: auto;
    padding: 10px 15px;
    background-color: rgb(227, 12, 30);
    border: 1px solid white;
    transition: all 0.4s ease-in-out 4ms;

}
.container aside a:hover{
    background-color:rgb(56, 138, 253);
}
.container aside a:active{
    background-color:yellowgreen;
}


div.content {
    /* height: 50vh;  */
    width: 73%;
    margin: 10px;
    padding:10px;
    background-color: white;
    box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:black;
}
div.content fieldset p{
    color: red;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Amita', cursive;
    word-spacing: 3px;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 50px 20px;
        display: flex;
        flex-direction: column;
    }
    
     aside {
        height:auto;
        width: 90%;
        background-size: contain;
        display: flex;
        flex-direction: column;
        /* border: 2px solid black; */
        margin: auto;
        margin: 10px;
        /* box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427); */
        background-color: transparent;
       
    }
    div.content {
        /* height: 50vh;  */
        width: 87%;
        margin: 10px;
        padding:10px;
        background-color: white;
        box-shadow: 5px 5px 20px 3px rgba(58, 47, 47, 0.427);
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
        font-size: 16px;
        font-weight: bold;
        color:black;
    }
}
/* css end for introduction page */

/* Css start for staff page */
.img-container{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:auto;
    
}
.img-container figure{
    width:29%;
    border: 1px #cccccc solid;
  padding: 8px;
  margin: auto;
  margin:8px;
}
.img-container figure img{
    width: 90%;
    border: 1px #cccccc solid;
    margin: auto;
    padding: 4px 12px;
  
}
.img-container figure figcaption a{
    text-decoration:none;
    color:#2194f9;
    transition:0.4s ease-in-out 4ms;
    font-size: 18px;
    margin-right: 10px;
}
.img-container figure figcaption a:hover{
    color:red;
}
.img-container figure figcaption p{
    color: midnightblue;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-size: 1em ;
    line-height: 10px;
}
@media only screen and (max-width: 768px){
    .img-container{

        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:auto;
        
    }
    .img-container figure{
        width:43%;
        border: 1px #cccccc solid;
      padding: 6px;
      margin: auto;
      margin:4px;
    }
    .img-container figure img{
        width: 86%;
        border: 1px #7408c1 solid;
        margin: auto;
        padding: 4px 8px;
      
    }
    .img-container figure figcaption p{
        color: midnightblue;
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
        font-size: 0.6em ;
        line-height: 8px;
    }
}
/* css end for staff page */
/* css start for notice pages */
/* css start for notice and news page */
.table-notice{
    /* background-color:rgba(255, 0, 0, 0.361) */
    font-family: 'Mukta', sans-serif;
    font-family: 'sofia-sans';
}
.table-notice tr:nth-child(2n){
    background-color:rgb(240, 197, 197);
    transition:0.4s ease-in-out 4ms;
   
}
.table-notice tr:nth-child(2n+1){
    background-color:rgba(32, 210, 246, 0.872);
    transition:0.4s ease-in-out 4ms;
}
.table-notice tr:hover{
    background-color:rgba(81, 255, 0, 0.578);
    color:white;
    
}
.table-notice tr td{
    padding:10px 20px;
}
.table-notice tr td a{
    text-decoration:none;
    color: #c11919;
    font-family: "Sofia Sans", sans-serif;
}
.table-notice tr td a:hover{
    text-decoration:none;
    color: #2684efd3;
    /* font-family: "Sofia Sans", sans-serif; */
    
}
/* csss end for notice and news page */
/* css start for student page */
/* css start for time table page */
fieldset .table{
    width:100%;
    background-color: aliceblue;
    border-spacing: 0;
   
    /* border:1px solid black */
    
}
.table td{
    border:1px solid  rgba(53, 130, 255, 0.92);;
    padding:10px;
    text-align: center;
   
}
.table th{
    background-color:rgba(0, 128, 0, 0.826);
    border:1px solid  rgba(53, 130, 255, 0.92);;
    padding:10px;
    text-align: center;
    color:white;
}
@media only screen and (max-width:768px){
   
}
/* css end for time table page */

/* css start for TC request pages */

.form-horizontal input[type="text"]{
    padding: 0.5em;
    border: 2px solid rgba(53, 130, 255, 0.92);
    border-radius: 0px;
    transition: all 0.4s ease-in-out 4ms;
}
.form-horizontal input[type="text"]:focus{
    padding: 0.5em;
    outline: none;
    border: 2px solid rgba(120, 53, 255, 0.92);
    border-radius:20px;
    background-color: #f7f70d94;
    color:#081553;
}
.form-horizontal input[type="submit"]{
    padding: 0.4em 0.9em;
    border: 2px solid rgba(53, 130, 255, 0.92);
    border-radius: 0px;
    transition: all 0.4s ease-in-out 4ms;
    cursor: pointer;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-size:.94em;
    font-weight: 700;
}
.form-horizontal input[type="submit"]:hover{
    padding: 0.4em 0.9em;
    outline:none;
    color:#010f02;
    background-color:  rgba(53, 130, 255, 0.92);
    border-radius: 20px;
    transition: all 0.4s ease-in-out 4ms;
    cursor: pointer;
    color:#ffffff
}
@media only screen and (max-width: 768px) {
    .form-horizontal input[type="text"]{
        width:90%;
        margin:auto;
        margin-top:5px;
        padding: 0.5em;
        border: 2px solid rgba(53, 130, 255, 0.92);
        border-radius: 0px;
        transition: all 0.4s ease-in-out 4ms;
    }
    .form-horizontal input[type="text"]:focus{
        padding: 0.5em;
        outline: none;
        border: 2px solid rgba(120, 53, 255, 0.92);
        border-radius:10px;
        background-color: #f7f70d94;
        color:#081553;
    }
    .form-horizontal input[type="submit"]{
        margin-top: 5px;
        
        padding: 0.4em 0.9em;
        border: 2px solid rgba(53, 130, 255, 0.92);
        border-radius: 0px;
        transition: all 0.4s ease-in-out 4ms;
        cursor: pointer;
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
        font-size:.94em;
        font-weight: 700;
    }
}
/* css end for tc request pages */
/* css start for result pages */
.form-result input[type="text"],.form-result input[type="number"]{
    color:red;
    padding: 0.5em;
    border: 2px solid rgba(53, 130, 255, 0.92);
    border-radius: 0px;
    transition: all 0.4s ease-in-out 4ms;
}
.form-result input[type="text"]:focus,.form-result input[type="number"]:focus{
    padding: 0.5em;
    outline: none;
    border: 2px solid rgba(120, 53, 255, 0.92);
    border-radius:10px;
    background-color: #f7f70d94;
    color:#081553;
}
.form-result input[type="submit"]{
    padding: 0.4em 0.9em;
    border: 2px solid rgba(53, 130, 255, 0.92);
    border-radius: 0px;
    transition: all 0.4s ease-in-out 4ms;
    cursor: pointer;
    font-family: "Crete Round", serif;
    font-family: "Sofia Sans", sans-serif;
    font-size:.94em;
    font-weight: 700;
}
.form-result input[type="submit"]:hover{
    padding: 0.4em 0.9em;
    outline:none;
    background-color:  rgba(53, 130, 255, 0.92);
    border-radius: 20px;
    transition: all 0.4s ease-in-out 4ms;
    cursor: pointer;
    color:#ffffff
}
@media only screen and (max-width:768px){
    .form-result input[type="text"],.form-result input[type="number"]{
        width:90%;
        margin:auto;
        margin:5px 0px 6px 0px;
        
        color:red;
        padding: 0.5em;
        border: 2px solid rgba(53, 130, 255, 0.92);
        border-radius: 0px;
        transition: all 0.4s ease-in-out 4ms;
    }
    .form-result input[type="submit"]{
        margin-top: 5px;
        
        padding: 0.4em 0.9em;
        border: 2px solid rgba(53, 130, 255, 0.92);
        border-radius: 0px;
        transition: all 0.4s ease-in-out 4ms;
        cursor: pointer;
        font-family: "Crete Round", serif;
        font-family: "Sofia Sans", sans-serif;
        font-size:.94em;
        font-weight: 700;
    }
}